.data-view {
  padding: 1rem 0.75rem;
  display: grid;
  grid-template-columns: auto auto;
}

.data-item {
  border-radius: 0.3rem;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-item .info {
  margin-bottom: 1rem;
}
.data-item .info > * + * {
  margin-top: 0.75rem;
}
.data-item .price {
  font-size: 1.2rem;
  font-weight: bold;
}
.data-item .description {
  font-size: 0.9rem;
  color: #787885;
}
.data-item img {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .data-view {
    grid-template-columns: auto auto auto auto;
  }
}