.layout {
  width: 98vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  width: 1.5rem;
  height: fit-content;
  overflow: hidden;
  padding: 0.25rem;
  background: #ededf0;
  border-radius: 2rem;
  caret-color: transparent;
  display: flex;
}
.input-wrapper input {
  border: none;
  background: inherit;
  outline: none;
  width: 100%;
}
.input-wrapper input:focus {
  caret-color: auto;
}
.input-wrapper img {
  width: 1.5rem;
}

.layout .user {
  display: flex;
  align-items: center;
  justify-content: right;
}
.user .status {
  color: var(--text-color-gray);
  font-size: 0.8rem;
  display: flex;
  justify-content: right;
}

img.avatar {
  height: 3rem;
  cursor: pointer;
  margin: 1rem;
}

.avatar_logout {
  position: relative;
}

.logout {
  position: absolute;
  top: 70px;
  padding: 0.5rem;
  background: white;
  box-shadow: 1px 1px 3px 0px #abcd;
  cursor: pointer;
}

.logout_outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 99vh;
}

main {
  width: min-content;
  margin: auto;
}

.body {
  margin-top: 1rem;
  padding: 0.5rem;
  position: relative;
}

.container {
  box-shadow: 0px 1px 2px #3a3a443d, 0px 2px 4px #5a5b6a3d;
  border-radius: 8px;
}
