.auth-layout {
  width: 100vw;
  height: 99vh;
  display: flex;
}

.auth-image {
  flex: 1;
  height: 100%;
}

.auth-image img {
  width: 100%;
  min-width: 60rem;
  height: 100%;
  min-height: 50rem;
}

.auth-form {
  width: calc(20rem + 10vw);
  padding: calc(1rem + 1vw) calc(2rem + 1vw);
  display: flex;
  align-items: center;
  color: var(--text-color-gray);
}
.auth-form .title {
  font-size: 1.4rem;
}
.auth-form .guide {
  font-size: 1.1rem;
  color: var(--text-color-gray);
}
.auth-form button {
  width: 100%;
  padding: 0.5rem var(--bs-btn-padding-x);
  background: var(--link-color);
}
.auth-form button:hover {
  background: var(--link-color-hover);
}

label span.required {
  color: red;
}

.orther-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.orther-login > img + img {
  margin-left: 0.75rem;
}